
Data/2014 October OD Quarter Hour.csv

Data/2014 October OD Period.csv
Data/Archives/2014 10 Year Historical Rail Ridership.pdf
Data/Archives/2014 10 Year Historical Rail Ridership.xlsx
Data/Archives/Gas Prices Monthly.xls
Data/Archives/Gas Prices Weekly.xls
Data/Archives/google_transit.zip
Data/Archives/Historical Rail Ridership By Station.pdf
Data/Archives/Historical Rail Ridership By Station.xlsx
Data/Archives/May-2012-Metrorail-OD-Table-by-Time-of-Day-and-Day-of-Week.xls
Data/Archives/May-2013-Metrorail-Ridership-by-Origin-Destination-TimePeriod-DayOfWeek.xlsx
Data/Archives/May-2014-Metrorail-Ridership-by-Origin-Destination-TimePeriod-DayOfWeek.xlsx
Data/Archives/Metro Fare.pdf
Data/Archives/Short-Term Ridership Forecasting.pdf
Data/Archives/Unemployment.xlsx
Data/Archives/Weather_Daily.pdf
Data/Archives/Weather_Monthly.pdf
